.footer{
    padding: 100px;
}

.footer-col .social-links a{
	display: inline-block;
  height: 40px;
	width: 40px;
  font-size: 20px;
	background-color: rgb(98, 95, 255);
	margin:0 10px 10px 0;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}